@import url('./fonts.css');
@import url('./sidebar.css');

body {
    --sidebar-width: 220px;
    --sidebar-width-minimized: 70px;
    --topbar-height: 48px;
    --topbar-height-style-2: 40px;
    --navbar-height: 60px;
}

*::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

*::-webkit-scrollbar-track {
    background-color: transparent;
    /* border-radius: 10px; */
}

*::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background: #8f9aa3;
    /* border-bottom: 3px solid #fff; */
}

body::-webkit-scrollbar {
    height: 6px;
    width: 8px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 1000px;
    background: #8f9aa3;
    /* border-bottom: 3px solid #fff; */
}

.theme-color {
    background: #171E40;
}

.style-chooser {
    height: 38px;
}

.text-grey {
    color: #8f9aa3;
}

.navigation {
    z-index: 1000;
    width: 100%;
    min-height: 48px;
    position: fixed;
}

.menudropdown .dropdown-menu {
    top: 0px !important;
    left: -10px !important;
}



.site-container {
    width: calc(100vw - var(--sidebar-width) - 20px);
    margin-left: var(--sidebar-width);
    padding-top: 1rem;
    position: relative;
    z-index: 1;
    padding: 2rem calc(1rem + 12px);
    background-color: #F5F6F7;
}

.slide-bottom-enter-active,
.slide-bottom-leave-active {
    transition: opacity 0.25s ease-in-out, transform 0.25s ease-in-out;
}

.slide-bottom-enter,
.slide-bottom-leave-to {
    opacity: 0;
    transform: translate3d(0, 15px, 0);
}

/* ******************Table Styles*************************** */
.custom-table.table-striped tbody tr:nth-of-type(odd) {
    background-color: #f5f6fa;
}

.custom-table.table td,
.custom-table.table th {
    padding: 0.75rem 0.5rem;
    vertical-align: middle;
    border: 0;
    font-size: 14px;
    line-height: 100%;
    /* identical to box height, or 14px */

    /* Dark text */

    color: #40484f;
}

.custom-table.table thead td,
.custom-table.table thead th {
    padding: 0.9375rem 0.5rem;
    vertical-align: middle;
    border: 0;
    font-size: 14px;
    line-height: 100%;
    color: #8f9aa3;
}

.custom-table.table-bordered thead td,
.custom-table.table-bordered thead th,
.custom-table.table-bordered td,
.custom-table.table-bordered th {
    border: 1px solid #dee2e6;
}

.custom-table.table-hover tbody tr:hover {
    color: #40484f;
    background-color: rgba(16, 112, 183, 0.1);
}

.custom-table input[type='checkbox'],
.custom-table input[type='radio'] {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

.custom-table input[type='checkbox']~.checkmark,
.custom-table input[type='radio']~.checkmark {
    width: 20px;
    height: 20px;
    background: #ffffff;
    border: 1px solid #d8d8d8;
    border-radius: 4px;
    outline: 0;
    display: block;
    position: relative;
    cursor: pointer;
    transition: 0.3s;
}

.custom-table input[type='checkbox']:checked~.checkmark,
.custom-table input[type='radio']:checked~.checkmark {
    background: #1070b7;
}

.custom-table input[type='checkbox']~.checkmark::after,
.custom-table input[type='radio']~.checkmark::after {
    content: '';
    position: absolute;
    display: none;
    left: 50%;
    top: 50%;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg) translate(-110%, -20%);
    -ms-transform: rotate(45deg) translate(-110%, -20%);
    transform: rotate(45deg) translate(-110%, -20%);
}

.custom-table input[type='checkbox']:checked~.checkmark::after,
.custom-table input[type='radio']:checked~.checkmark::after {
    display: block;
}

.custom-table label {
    margin: 0;
}

.custom-table .badge {
    width: 100%;
}

/* ****************Custom tabs************************* */
.p-tabview .p-tabview-panels {
    background: #ffffff;
    padding: 1rem;
    border: 0 none;
    color: #495057;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    min-height: 65vh;
}

.p-tabview .p-tabview-nav {
    background: #ffffff;
    border: 1px solid #dee2e6;
    border-width: 0 0 2px 0;
    overflow-x: auto;
    overflow-y: hidden;
}

.custom-card-tabs.nav,
.custom-card-tabs .nav {
    padding: 0 0.25rem;
    border-bottom: 1px solid #e7e8eb;
    flex-wrap: nowrap;
    overflow: auto;
}

.custom-card-tabs .nav-link {
    font-size: 14px;
    line-height: 100%;
    color: #8f9aa3;
    padding: 0.8rem 0;
    margin: 0 1rem;
    white-space: nowrap;
}

.custom-card-tabs .nav-link.active {
    color: #1070b7;
    border-bottom: 2px solid #1070b7;
}

/* ********************typography******************* */
.text-12 {
    font-size: 12px;
    font-family: Museo Sans;
}

.text-13 {
    font-size: 13px;
    font-family: Museo Sans;
}

.text-14 {
    font-size: 14px;
    font-family: Museo Sans;
}

.text-16 {
    font-size: 16px;
    font-family: Museo Sans;
}

.text-18 {
    font-size: 18px;
    font-family: Museo Sans;
}

.text-24 {
    font-size: 24px;
    font-family: Museo Sans;
}

.text-32 {
    font-size: 32px;
    font-family: Museo Sans;
}

.form-control {
    background: #fff;
    border: 1px solid #e7e8eb;
    border-radius: 4px;
    color: #40484f;
    font-size: 14px;
    line-height: 100%;
}

.form-control:placeholder-shown {
    background: #fbfdfe;
}

::-webkit-input-placeholder {
    /* Edge */
    font-size: 14px;
    font-family: Museo Sans;
}

:-ms-input-placeholder {
    /* Internet Explorer 10-11 */
    font-size: 14px;
    font-family: Museo Sans;
}

::placeholder {
    font-size: 14px;
    font-family: Museo Sans;
}

/* Sidebar Styles  */
.site-sidebar {
    width: var(--sidebar-width);
    height: 100%;

    padding-top: calc(var(--navbar-height) + var(--topbar-height));

    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 99;

    display: flex;
    flex-direction: column;
}

.site-sidebar,
.site-sidebar * {
    transition: 0.3s;
}

.site-sidebar .sidebar-date-selector {
    padding: 0.75rem 0.75rem 0.5rem;
    border-bottom: 0.5px solid #e7e8eb;
}

.site-sidebar .sidebar-date-selector select {
    padding-right: 0.75rem;
    margin-left: 0.75rem;
    border: 0;
    font-weight: 600;
    font-size: 15px;
    outline: 0;
}

.site-sidebar .sidebar-logo {
    text-align: center;
}

.site-sidebar .sidebar-logo img {
    width: 100%;
    max-width: 80px;
    height: auto;
    max-height: 80px;
    object-fit: contain;
    /* border: 1px solid #F3F3F3; */
    border-radius: 5px;
    margin: auto;
}

.site-sidebar .sidebar-items-wrapper {
    padding: 1rem 0.5rem;
    flex-grow: 1;
    overflow: auto;
}

.site-sidebar .nav-item {
    display: flex;
    align-items: center;
    text-decoration: none !important;
    color: #40484f;
    margin-bottom: 0.25rem;
    overflow-x: hidden;
    min-width: 35px;
    border-radius: 5px;
    padding: 0.3rem 0.2rem;
    margin: 0.1rem 0.4rem;
    transition: 0.3s;
}

.site-sidebar .nav-item.active,
.nuxt-link-exact-active,
.site-sidebar .nav-item::after,
.site-sidebar .nav-item:hover {
    background: rgba(16, 112, 183, 0.1);
}

.site-sidebar .nav-item .nav-item-icon {
    line-height: 0;
}

.site-sidebar .nav-item .nav-item-icon svg {
    height: 16px;
    width: 16px;
}

.site-sidebar .nav-item .nav-item-icon svg path {
    fill: #8f9aa3;
}

.site-sidebar .nav-item .nav-item-text {
    font-size: 14px;
    line-height: 100%;
    color: #40484f;
    padding-left: 0.6rem;
    min-width: calc(var(--sidebar-width) - 0.75rem - 0.75rem - 0.75rem - 0.75rem - 16px);
    max-width: calc(var(--sidebar-width) - 0.75rem - 0.75rem - 0.75rem - 0.75rem - 16px);
    display: flex;
    align-items: center;
}

.site-sidebar .nav-item .count {
    font-family: Brown;
    font-style: normal;
    font-weight: normal;
    font-size: 10px;
    line-height: 100%;
    /* identical to box height, or 10px */

    color: #ffffff;
    background: #44afff;
    height: 17px;
    width: 17px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1000px;
}



.site-sidebar .nav-item.has-dropdown {
    position: relative;
}

/* .site-sidebar .nav-item.has-dropdown::after {
    content: '';
    background: url(../img/chevron-down.svg) transparent;
    background-size: contain;

    width: 16px;
    height: 16px;

    position: absolute;
    right: 0.75rem;
    top: 50%;

    transform: rotate(180deg) translateY(50%);
} */

.site-sidebar .nav-item.has-dropdown:active::after,
.site-sidebar .nav-item.has-dropdown.active::after {
    transform: rotate(0deg) translateY(-50%);
}

.site-sidebar .nav-dropdown {
    display: none;
}

.site-sidebar .nav-item.has-dropdown:active+.nav-dropdown,
.site-sidebar .nav-item.has-dropdown.active+.nav-dropdown {
    display: block;
}

.site-sidebar .nav-dropdown-item {
    font-weight: 300;
    font-size: 14px;
    line-height: 100%;
    color: #40484f;
    text-decoration: none;
    display: block;

    padding: 14px 0.75rem 14px calc(0.75rem + 16px + 0.6rem);
}

.site-sidebar .nav-dropdown-item:hover,
.site-sidebar .nav-dropdown-item:active,
.site-sidebar .nav-dropdown-item.active {
    text-decoration: none;
    color: #1070b7;
}

@media (max-width: 996px) {


    .site-sidebar,
    .sitenav-style-2 .site-sidebar {
        width: var(--sidebar-width-minimized);
        background: #fff;
    }

    .sitenav-style-2.sitenav-profile .site-sidebar {
        padding-top: calc(var(--navbar-height) + var(--topbar-height-style-2));
    }

    .site-sidebar .nav-item .nav-item-text {
        display: none;
    }

    .site-sidebar:hover {
        width: var(--sidebar-width);
    }

    /* .sitenav-style-2 .site-sidebar:hover{
        width: 280px;
    } */
    .site-sidebar:hover .nav-item .nav-item-text {
        display: flex;
    }

    .sidebar-date-selector {
        display: none;
    }

    .site-sidebar:hover .sidebar-date-selector {
        display: block;
    }

    .sitenav-style-2 .site-sidebar .nav-item {
        padding: 0.75rem 1rem;
    }

    .sitenav-style-2 .site-sidebar:hover .nav-item,
    .sitenav-style-2 .site-sidebar.show .nav-item {
        padding: 1rem 1rem;
    }

    .sitenav-style-2 .site-sidebar .nav-item {
        padding: 1rem 1rem;
    }

    .sitenav-style-2 .site-sidebar .nav-item.active,
    .sitenav-style-2 .site-sidebar .nav-item:active,
    .sitenav-style-2 .site-sidebar .nav-item:hover {
        padding: 0.75rem 1rem;
    }

    .sitenav-style-2 .site-sidebar .nav-item.active::before,
    .sitenav-style-2 .site-sidebar .nav-item:active::before {
        height: 40px;
    }

    .site-container,
    .site-container.site-container-style-2 {
        width: calc(100vw - var(--sidebar-width-minimized) - 20px);
        margin-left: var(--sidebar-width-minimized);
        padding: 2rem 2rem;
    }

    .sitenav-style-2.sitenav-profile~.site-container {
        margin-top: calc(var(--navbar-height) + var(--topbar-height-style-2));
    }

    /* Sidebar Toggle  */
    .site-sidebar:hover {
        width: var(--sidebar-width);
        opacity: 1;
        display: block;
        box-shadow: 4px 0px 30px rgba(0, 0, 0, 0.1);
    }

    /* .sitenav-style-2 .site-sidebar.show{
        width: 280px;
    } */

    .site-sidebar.show .sidebar-date-selector {
        display: block;
    }

    .site-sidebar .nav-item.has-dropdown::after {
        display: none;
    }

    .site-sidebar:hover .nav-item.has-dropdown::after,
    .site-sidebar.show .nav-item.has-dropdown::after {
        display: block;
    }

    .site-sidebar .nav-item.has-dropdown:active+.nav-dropdown,
    .site-sidebar .nav-item.has-dropdown.active+.nav-dropdown {
        display: none;
    }

    .site-sidebar:hover .nav-item.has-dropdown:active+.nav-dropdown,
    .site-sidebar:hover .nav-item.has-dropdown.active+.nav-dropdown,
    .site-sidebar.show .nav-item.has-dropdown:active+.nav-dropdown,
    .site-sidebar.show .nav-item.has-dropdown.active+.nav-dropdown {
        display: block;
    }
}